:root {

    --white-color: #fff;
    --black-color: #140a00;
    --blue-color: #045fd4 --red-color:#ff0000;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;

    --padding: 12px;
    --avatar-size: 36px;

    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    font-family: Roboto;

}

ul {

    list-style: none;
}

button,
button:focus {
    border: none;
    cursor: pointer;
    background-color: white;
    outline: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    background-color: var(--black-color);
    color: var(--white-color);

}

.logo {
    font-size: var(--font-large);
}

.fa-youtube {
    color: #ff0000;

}

.fa-search {
    margin-right: 12px;
}

.player {
    position: sticky;
    top: 0;
    text-align: center;
    background-color: var(--black-color);

}


.player video {
    width: 100%;
    height: 100%;
    max-width: 400px;
}

.info {
    padding: var(--padding);
}

.info .metadata .hashtags {
    display: flex;
    font-size: var(--font-small);
    color: #045fd4;
}

.info .metadata .hashtags li {
    margin-right: var(--padding);

}

.info .metadata .titleButtons {
    display: flex;

}

.info .metadata .titleButtons.title {
    font-size: var(--font-medium);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-right: var(--padding);
}

.info .metadata .titleButtons .moreBtn {
    height: 100%;


}

.info .views {
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}

.info .actions {
    display: flex;
    justify-content: space-around;
    margin: var(--padding);
}

.info .actions button {
    display: flex;
    flex-direction: column;
    font-size: var(--font-small);
}

.info .actions button i {
    margin: 0 auto;
    margin-bottom: calc(var(--padding)/2);
    font-size: 16px;

}

.info .actions button i.active {
    color: #045fd4;

}

.info .channel {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--grey-light-color);
    border-bottom: 1px solid var(--grey-light-color);

}

.info .channel .metadata {
    display: flex;
    align-items: center;
}

.info .channel .metadata .info {
    display: flex;
    flex-direction: column;

}

.info .channel .metadata img {

    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
}

.info .channel .metadata .info .name {
    font-size: var(--font-medium);
}

.info .channel .metadata .info .subscribers {
    font-size: var(--font-small);
    color: var(--grey-dark-color);

}

.info .channel .subscribe {
    text-transform: uppercase;
    color: #ff0000;
    font-size: var(--font-medium);

}


.upNext {
    padding: 0 var(--padding);
}

.upNext>.title {
    font-size: var(--font-medium);
    color: var(--grey-dark-color);
    margin-bottom: calc(var(--padding)/2);

}

.upNext .item {
    display: flex;
}

.upNext .item .img {
    flex: 1 1 35%;
}

.upNext .item .img img {
    width: 100%;
}

.upNext .item .info {
    flex: 1 1 60%;

}

.upNext .item .moreBtn {
    flex: 1 1 5%;

}

.upNext .item .info {
    display: flex;
    flex-direction: column;

}

.upNext .item .info .title {
    font-size: var(--font-small);
}

.upNext .item .info .name,
.upNext .item .info .view {
    font-size: var(--font-micro);
    color: ;
}
.items-header{
    display: flex;
    justify-content: space-between;
    padding: 0px 12px;
    font-size: var(--font-medium);
}
.items-main{
    display: flex;
    padding: 12px 12px;
    border-bottom: 1px solid var(--grey-light-color);
}
.items-main img{
    width: 168px;
    height: 94px;
}
.items-detail{
    display: flex;
    flex-direction: column;
    padding: 0px 12px;
    font-size: var(--font-small);
}
.items-detail-title{
    font-size: var(--font-large);
    margin: 0 0 4px;
}
.items-detail-title-name{
    margin: 0 0 4px;
}

.items-detail-view{
    color: var(--grey-dark-color);
}